In [1]:
import pandas as pd
from bokeh.plotting import figure
from bokeh.io import output_file,show

In [15]:
#Building a line graph

X=[6,9,3]
Y=[7.5,10,3]

#Prepare the output file
output_file("C:\\Users\\Vijay\\Desktop\\Line.html")

f=figure()
#L=f.line(X,Y)
f.triangle(X,Y)
#show(L)
show(f)

In [17]:
data=pd.read_csv('G:\\ML\\Simplilearn ML-20180707T072637Z-001\\Simplilearn ML\\Day 2\\Data.csv')

In [26]:
A=data.iloc[:,2]
B=data.iloc[:,1]
f=figure()
f.scatter(A,B)
show(f)

In [3]:
dataL=pd.read_csv('C:\\Users\\Vijay\\Downloads\\bachelors.csv')
dataL.head()

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
0,1970,4.229798,11.921005,59.7,29.088363,9.064439,35.3,13.6,74.535328,0.8,65.570923,73.8,77.1,38.0,13.8,44.4,68.4,36.8
1,1971,5.452797,12.003106,59.9,29.394403,9.503187,35.5,13.6,74.149204,1.0,64.556485,73.9,75.5,39.0,14.9,46.2,65.5,36.2
2,1972,7.420710,13.214594,60.4,29.810221,10.558962,36.6,14.9,73.554520,1.2,63.664263,74.6,76.9,40.2,14.8,47.6,62.6,36.1
3,1973,9.653602,14.791613,60.2,31.147915,12.804602,38.4,16.4,73.501814,1.6,62.941502,74.9,77.4,40.9,16.5,50.4,64.3,36.4
4,1974,14.074623,17.444688,61.9,32.996183,16.204850,40.5,18.9,73.336811,2.2,62.413412,75.3,77.9,41.8,18.2,52.6,66.1,37.3

In [5]:
Year=dataL['Year']
Engg=dataL['Engineering']

In [8]:
L=figure()
L.line(Year,Engg)

show(L)

In [9]:
#Scatter plot using xlrd
import pandas as pd
from bokeh.plotting import figure
from bokeh.io import output_file,show

In [12]:

dataXls=pd.read_excel('C:\\Users\\Vijay\\Downloads\\verlegenhuken.xlsx')
dataXls.head()

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3          -30      9984
1  2010     10    6     9          -28      9992
2  2010     10    6    10          -24      9987
3  2010     10    6    11          -19      9987
4  2010     10    6    12          -19      9985

In [13]:
T=dataXls['Temperature']
P=dataXls['Pressure']
f=figure()
f.scatter(T,P)
show(f)

In [14]:
from bokeh.plotting import figure, output_file, show
p = figure(plot_width=500, plot_height=400, tools = 'pan, reset', logo=None)
p.title.text = "Earthquakes"
p.title.text_color = "Orange"
p.title.text_font = "times"
p.title.text_font_style = "italic"
p.yaxis.minor_tick_line_color = "Yellow"
p.xaxis.axis_label = "Times"
p.yaxis.axis_label = "Value"
p.circle([1,2,3,4,5], [5,6,5,5,3], size = [i*2 for i in [8,12,14,15,20]], color="red", alpha=0.5)
output_file("Scatter_plotting.html")
show(p)